$banner-color: $white;
$banner-height: 480px;
$banner-search-height: 70px;
$banner-search-height-sm: 60px;
$banner-search-bg: $white;
$banner-search-icon-size: 1.4rem;
$banner-search-color: $cat-gunmetal;
$banner-search-button-indent: 20px;
$banner-search-close-width: 60px;
$banner-image-track-height: 140px;
$banner-search-animation-speed: 0.2s;

.cat-banner {
  height: $banner-height;
  color: $banner-color;
  padding: $spacer * 2 0 0;
  position: relative;
  overflow: hidden;

  @include breakpoint(md) {
    height: auto;
    padding-top: 0;
  }

  .cat-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    @include overlay();

    @include breakpoint(md) {
      display: none !important;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .cat-banner-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @include breakpoint(md) {
      position: relative;
      padding-bottom: 42%;

      &:after {
        display: none;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 42%,
        rgba(0, 0, 0, 0.8) 100%
      );
      z-index: 1;
    }

    .cat-banner-bg-img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition-property: transform;
      transition-timing-function: linear;
      transform: scale(1.2) rotate(0deg);

      &:nth-child(even) {
        transform: scale(1.4) rotate(-3deg);

        &.active {
          transform: scale(1.2) rotate(0deg);
        }
      }

      &.active {
        z-index: 1;
        transform: scale(1.4) rotate(-3deg);

        .img {
          opacity: 1;
        }
      }

      .img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: opacity 1s ease;
        opacity: 0;
      }
    }
  }

  .cat-banner-search-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5 {
      color: inherit;
      margin-bottom: 0;
    }

    .cat-banner-title {
      position: relative;
      z-index: 1;
      line-height: 1.1;
      font-size: $h2-font-size;

      @include breakpoint(md) {
        margin-bottom: $spacer;
      }
    }

    .cat-banner-inner-wrap {
      width: 100%;
      height: $banner-search-height;
      margin-bottom: $spacer * 4;
      position: relative;

      @include breakpoint(md) {
        display: none;
      }
    }

    .cat-banner-image-detail-wrap {
      display: block;
      width: 100%;
      padding: 0 0 $spacer * 2;
      position: relative;
      z-index: 1;

      @include breakpoint(md) {
        padding-top: $spacer * 2;
        background-color: rgba(0, 0, 0, 1);
      }

      .cat-section-header {
        .cat-section-header-text {
          font-size: 28px;
          margin-top: 0.5rem;

          @include breakpoint(md) {
            margin-top: 0;
            font-size: 30px;
            line-height: 1.15;
            margin-bottom: 0.5rem !important;
          }
        }
      }
    }

    // image slider
    //
    .cat-banner-image-slider {
      padding-top: 10px; //visual bump
      position: relative;
      z-index: 1;

      @include breakpoint(md) {
        font-size: $small-font-size;
      }

      .cat-banner-image-slider-track {
        position: relative;

        .cat-banner-image-slider-item {
          position: absolute;
          width: 100%;
          transition: transform 0.4s ease-in, opacity 0.4s ease;
          transform: translate(-100%, 0);
          opacity: 0;

          .cat-banner-image-slider-item-sizer {
            position: relative;
          }

          &.active {
            transform: translate(0, 0);
            transition: transform 1s ease, opacity 0.5s 0.3s ease;
            opacity: 1;

            & ~ .cat-banner-image-slider-item {
              transform: translate(100%, 0);
            }
          }
        }
      }

      .cat-banner-image-slider-header {
        text-decoration: none;
        display: block;
        line-height: 1.25;
        margin-bottom: $spacer/2;
        @include transition($btn-transition);

        &:hover {
          color: $cat-red;
        }

        .fa,
        i,
        svg {
          position: relative;
          left: 1px;
          font-size: 90%;
          margin-right: 5px;
          color: $white;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
